extends layout

block head
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.2.716/styles/kendo.common.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.2.716/styles/kendo.flat.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='http://cdn.kendostatic.com/2013.2.716/js/jquery.min.js')
    script(src='http://cdn.kendostatic.com/2013.2.716/js/kendo.all.min.js')
    script(src='/javascripts/kendo.diagram.math.js')
    script(src='/javascripts/kendo.diagram.svg.js')
    script(src='/javascripts/kendo.diagram.services.js')
    script(src='/javascripts/kendo.diagram.extensions.js')
    script(src='/javascripts/kendo.diagram.dom.js')
    script(src='/javascripts/editor.js')
    script(type='text/x-kendo-tmpl', id='template')
        <div class="shape"><svg><path d="#=data#" fill="#=background#"/></svg><h3>#:name#</h3></div>

block content
    #mainDiv
        #toolbarDiv
            input#undoButton.diagramCommandBtn(type='button', title='Undo (CTRL+Z)', value='Undo')
            input#redoButton.diagramCommandBtn(type='button', title='Redo (CTRL+Y)', value='Redo')
            input#deleteButton.diagramCommandBtn(type='button', title='Delete (DEL)', value='Delete')
            input#selectAllButton.diagramCommandBtn(type='button', title='Select All (CTRL+A)', value='SelectAll')
        #splitter
            #toolBoxDiv
                #toolBox
            #canvasDiv
                #canvas