extends layout

block header

block content
  if workspace
    p= workspace.name
    each office in workspace.offices
      ul
        li= office.name
        ul
          each room in office.rooms
            li= room.name
              |  -
              - var link = '/editor?office=' + office.name + '&room=' + room.name
              a(href=link) Editor