doctype 5
html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head
    body
        header This is the header
        block content
        footer 2013 All rights reserved.