#canvas {
    height: 95%;
}

.menu-text {
    margin-right: 10px;
}

input.diagramCommandBtn {
    border: 1px gray solid;
    background-color: gray;
    color: white;
    cursor: pointer;
    margin: 5px;
}

#toolBoxDiv {
    float: left;
}

k-slider {
    margin-left: 10px;
}

.shape {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.shape:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.shape svg {
    width: 100px;
    height: 100px;
}

.shape h3 {
    padding: 5px;
    font-size: .9em;
    overflow: hidden;
    font-weight: normal;
    max-width: 100px;
    text-transform: uppercase;
}

h2 {
    margin: 10px;
}

#splitter {
    height: 90%;
}

#toolbarDiv {
}

#zoomPanel {
    display: inline-block;
}